/* .inputField{
    height: fit-content;
    width: fit-content;
    margin: auto;
    font-size: 120%;
} */
  
/* #loginButton{
    margin-top: 30%;
}

#username{
    margin-top: 20%;
}

#password{
    margin-top: 10%;
} */